<div class="seller-login">
  <div class="seller-login__header">
    <div class="seller-login__logo" background-image="/img/logo.png"></div>
  </div>
  <div class="seller-login__container" ng-controller="loginCtrl">
    <form novalidate class="login-form seller-login__form">
      <input type="text" ng-model="user.name" class="seller-login__input seller-login__input--username" placeholder="用户名">
      <input type="password" ng-model="user.pwd" class="seller-login__input seller-login__input--password" placeholder="密码">
      <div class="seller-login__buttons">
        <div class="seller-login__button seller-login__button--forgot-password">忘记密码?</div>
        <input type="submit" class="seller-login__button seller-login__button--submit" ng-click="login(user)" value="登录"/>
      </div>
    </form>
  </div>
</div>

