$lightBlue: #64B4D7;
$midBlue: #3699D0;
$midBlueSemiTransparent: rgba(51, 153, 204, 0.5);
$darkBlue: #357A99;
$orange: #cc6666;
$white: white;

$veryLightGrey: #F3F3F3;
$lightGrey: #dcdcdc;
$lightMidGrey: #A6A6A6;
$midGrey: #CECECE;
$grey: grey;
$darkGrey: #333333;

$lightRed: #9E6A6A;
$red: #800000;