// Place all the styles related to the buyer/item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../include_share";

.buyer-product-detail {
  @include page-content;

  &__image {
    width: 100%;
    padding-bottom: 80%;
    background-position: 50%;
    background-size: cover;
  }

  &__line {
    @include page-padding;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__line--1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  &__line--2 {

  }

  &__title {
    font-weight: bold;
  }

  &__description {
    font-size: 12px;
  }

  &__buttons {
    @include page-padding;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
    bottom: 100px;
    left: 5%;
    bottom: 100px;
    width: 90%;
    position: absolute;
  }

  &__button {
    @include button-primary;
    width: 90%;
  }

}