<div class="register" ng-controller="registerCtrl">
  <div class="register-container">
    <div class="register-container-row">
      <div class="register-cell">
        手机号码
      </div>
      <div class="register-cell" style="width: 50%">
        <input class="register-text_field" id="number" ng-model="number" ng-blur="validate_number()" placeholder="请输入手机号码" type="text"/>
      </div>
      <div class="register-cell" style="border-left: 1px solid #ececec;padding-left: 5px;">
        <a ng-if="sentCode==false" ng-click="sendCode()" class="confirm_button">发送验证码</a>
        <a ng-if="sentCode==true" class="register-diabled_button">重新发送({{countdown}})</a>
      </div>
    </div>
    <div class="register-container-row">
      <div class="register-cell">
        验证码
      </div>
      <div class="register-cell" style="width: 50%">
        <input ng-model="code" size="4" class="register-text_field" placeholder="请输入收到的验证码" value="" type="number"/>
      </div>
    </div>
    <div class="register-container-row">
      <div class="register-cell">
        密码
      </div>
      <div class="register-cell" style="width: 50%">
        <input ng-model="password" class="register-text_field" placeholder="设置您的密码" type="password" ng-blur="validate_code()" />
      </div>
      <div class="register-cell" >
        <span id="password_label" style="color: #b9b9b9">6-10位密码</span>
      </div>
    </div>
    <div class="register-container-row" style="margin-top: 20px; border: 0px;">
      <a ng-if="code.toString().length==4" ng-click="register()" class="register-confirm_button" style="width: 100%;line-height: inherit">注册</a>
      <div ng-if="!code || code.toString().length!=4" class="register-diabled_button" style="width: 100%;line-height: inherit">注册</div>
    </div>
  </div>
</div>